<div class="banner d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(33,37,41,0.0),rgba(33,37,41,1)), url(<%= cl_image_path @list.image_url.key %>); background-position: center;">
  <div class="container text-center">
    <h1>Movies in <%= @list.name %></h1>
  </div>
</div>

<div class="container mt-5">
  <div class="d-flex justify-content-end">
    <%= link_to 'Back', lists_path, class: 'btn btn-primary my-3 mx-3' %>
    <%= link_to 'Add a Bookmark', new_list_bookmark_path(@list), class: 'btn btn-primary my-3' %>
  </div>
  
  <div class="cards-trip mb-5">
      <% @movies.each do |movie| %>
        <div class="card-trip">
          <img src="<%= movie.poster_url %>" />
          <div class="card-trip-infos">
            <div>
              <h2><%= movie.title %> <span class="rating-grey">⸱ <%= movie.rating %></span><span class="rating-star"> ★</span></h2>
              <p><%= movie.overview %></p>
            </div>
          </div>
            <div class="card-trip-infos mt-3 d-flex justify-content-between">
              <p><span>💬 </span><%= movie.bookmarks.last.comment %></p>
              <%= link_to '✕', bookmark_path(@list), method: :delete, class: 'delete_button' %>
            </div>
        </div>
      <% end %>
  </div>
</div>
